{% extends 'base.html' %}
{% load staticfiles %}

{#写入base.html中定义的title#}
{% block title %}
    文章详情
{% endblock title %}

{#写入base.html中定义的content#}
{% block content %}

{#文章详情    #}
 <div class="container">
        <div class="row">
{#            标题及作者#}
            <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
            <div class="col-12 alert alert-success">作者：{{ article.author }}
               . <a href="#" onclick="confirm_delete()">删除文章</a>
               . <a href="{% url 'article:article_update' article.pk %}">编辑文章</a>
            </div>
{#            文章正文#}
            <div class="col-12">
                <p>{{ article.body|safe }}</p>
            </div>
        </div>
 </div>

 <script>
     {#删除文章函数#}
    function confirm_delete() {

        {#调用layer弹出插件#}
        layer.open({
             {#弹出标题#}
            title: '确认删除',
             {#正文    #}
            content: '确认要删除这篇文章吗？',
           {#点击确定按钮后调用的回调函数#}
            yes: function (index, layero) {
                {#指定当期前往的url#}
                location.href='{% url 'article:article_delete' article.pk %}'
            },
        })
    }

 </script>

{% endblock content %}