{% extends 'base.html' %}
{% load staticfiles %}

{#写入base.html中定义的title#}
{% block title %}
    文章详情
{% endblock title %}



{#写入base.html中定义的content#}
{% block content %}

<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">

{#文章详情    #}
 <div class="container">
        <div class="row">
            <div class="col-9">
{#            标题及作者#}
                <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
                <div class="col-12 alert alert-success">
                    <div>
                        作者：{{ article.author }}
                        {% if user == article.author %}
                            . <a href="#" onclick="confirm_delete()">删除文章</a>
                            . <a href="{% url 'article:article_update' article.pk %}">编辑文章</a>
                        {% endif %}
                    </div>
                <div>
                    浏览：{{ article.total_views }}
                </div>

                </div>
{#              文章正文#}
                <div class="col-12">
                    <p>{{ article.body|safe }}</p>
                </div>
            </div>
        {#        目录#}
            <div class="col-3 mt-4">
                <h4><strong>目录</strong></h4>
                <hr>
                <div>
                    {{ toc|safe }}
                </div>
            </div>

        </div>

{#        发表评论#}
        <hr>
        {% if user.is_authenticated %}
            <div>
                <form action="{% url 'comment:post_comment' article.pk %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="body"><strong>我也要评论：</strong></label>
                        <div>
                            {{ comment_form.media }}
                            {{ comment_form.body }}
                        </div>
                    </div>
{#                    提交按钮#}
                    <button type="submit" class="btn btn-primary">发送</button>
                </form>
            </div>
            <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">请<a href="{% url 'userprofile:login' %}">登录</a>后回复</h5>
            <br>
        {% endif %}

{#        显示评论#}
        <h4>共有{{ comments.count }}条评论</h4>
        <div>
            {% for commment in comments %}
                <hr>
                <p>
                    <strong style="color: black"> {{ commment.user }}</strong>于
                    <span style="color: lightgray">{{ commment.created|date:'Y-m-d H:i:s' }}</span>时评论：
                </p>
                <pre style="font-family: inherit; font-size: small">{{ commment.body|safe }}</pre>
            {% endfor %}
        </div>

 </div>

 <script>
     {#删除文章函数#}
    function confirm_delete() {

        {#调用layer弹出插件#}
        layer.open({
             {#弹出标题#}
            title: '确认删除',
             {#正文    #}
            content: '确认要删除这篇文章吗？',
           {#点击确定按钮后调用的回调函数#}
            yes: function (index, layero) {
                {#指定当期前往的url#}
                location.href='{% url 'article:article_delete' article.pk %}'
            },
        })
    }

 </script>


{% block script %}
<script>
    $(".django-ckeditor-widget").removeAttr("style");
</script>
{% endblock script %}




{% endblock content %}