{# extends 表明此页面继承自 base.html#}
{% extends 'base.html' %}
{% load staticfiles %}

{# 写入base.html中预留定义的title#}
{% block title %}
    首页
{% endblock title %}


{# 写入base.html中预留定义的content#}
{% block content %}

{# 定义放置文章标题的div容器#}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'article:article_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}">最新</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}">最热</a>
            </li>
        </ol>
    </nav>

{#    搜索栏#}
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline">
                <label class="sr-only">content</label>
                <input type="text" class="form-control mb-2 mr-sm-2" name="search" placeholder="搜索文章" required>
            </form>
        </div>
    </div>

{#搜索提示语#}
    {% if search %}
        {% if articles %}
            <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>
        {% else %}
            <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章</h4>
        {% endif %}
    {% endif %}

      <div class="row mt-2">

          {% for article in articles %}

{#              标题图#}
              {% if article.avatar %}
                  <div class="col-3">
                    <img src="{{ article.avatar.url }}" alt="avatar" style="max-width: 100%; border-radius: 20px">
                  </div>
              {% endif %}

{#            文章内容#}
           <div class="col">

{#                栏目#}
               {% if article.column %}
                   <button type="button" class="btn btn-sm mb-2 btn-success"   href="{% url 'article:article_list' %}?tag={{ tag }}&column={{ column }} ">{{ article.column }}</button>
               {% endif %}

{#                标签#}
                <span>
                    {% for tag in article.tags.all %}
                        <a href="{% url 'article:article_list' %}?tag={{ tag }}&column={{ column }}" class="badge badge-secondary">{{ tag }}</a>
                    {% endfor %}
                </span>


{#                   标题#}
               <h4 >
                   <b>
                       <a href="{% url 'article:article_detail' article.pk %}" style="color: black">{{ article.title }}</a>
                   </b>
               </h4>
{#                    摘要#}
               <div >
                   <p style="color: gray">{{ article.body|slice:'100' }}...</p>
               </div>
{#                    注脚#}

                <P>
{#                    附加信息#}
                    <span style="color: green">
                        <i class="far fa-eye"></i>
                        {{ article.total_views }}浏览&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="far fa-comment-dots"></i>
                        {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span style="color: grey">
                        <i class="far fa-clock"></i>
                        {{ article.created_time|date:'Y-m-d' }}发布&nbsp;&nbsp;&nbsp;
                    </span>
{#                    <span style="color: -moz-mac-accentdarkestshadow">{{ article.update_time|date:'Y-m-d' }}更新</span>#}
                </P>

           </div>
            <hr style="width: 100%;">
          {% endfor %}

      </div>

    </div>
    <div class="Page navigation container text-center">
        <ul class="pagination ">
            <li>
{#            上一页#}
                {% if articles.has_previous %}
                    <a href="?page={{ articles.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="false">&laquo;</span>
                {% endif %}
            </li>

{#        页码#}
            {% for page_num in page_range %}
                {% if page_num == articles.number %}
                    <li class="active">
                        <span>{{ page_num }}</span>
                    </li>
                {% else %}
                    {% if page_num == '...' %}
                        <li>
                            <span>{{ page_num }}</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}


{#    下一页#}
            <li>
                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>

                {% endif %}
            </li>

        </ul>

        <p class="text-center">共有{{ articles.paginator.count }}篇博文，当前第{{ articles.number }}页，
            共{{ articles.paginator.num_pages }}页
        </p>

    </div>

        <nav aria-label="..." class="container">
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>

</div>

{% endblock content %}
